:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  * {
    --bs-secondary: hsl(45, 2%, 49%);
    --bs-secondary-rgb: 128, 127, 124;
    --bs-secondary-fill: hsl(45, 2%, 45%);
    --bs-secondary-disabled: hsl(0, 0%, 38%);

    --bs-info: hsl(197, 82%, 56%);
    --bs-info-rgb: 41, 171, 224;
    --bs-info-fill: hsl(204, 82%, 56%);
    --bs-info-disabled: hsl(204, 71%, 62%);

    --bs-light: var(--accent-color-dark-bg-tint) !important;
    --bs-light-rgb: var(--accent-color-dark-bg-tint-rgb) !important;
    --bs-light-fill: hsl(0, 0%, 21%);
    --bs-light-disabled: var(--bs-light);

    --bs-dark: #f8f9fa !important;
    --bs-dark-rgb: 248, 249, 250 !important;
    --bs-dark-fill: #d3d0cc;
    --bs-dark-disabled: var(--bs-dark);

    --bs-white: #000;
    --bs-white-rgb: 0, 0, 0;

    --bs-black: #fff;
    --bs-black-rgb: 255, 255, 255;

    --bs-body-color: #dddfe2 !important;
    --bs-body-color-rgb: 248, 249, 250 !important;

    --bs-border-color: hsl(37, 25%, 17%) !important;
    --bs-border-color-translucent: rgba(255, 255, 255, 0.175) !important;
    --bs-card-border-color: hsla(37, 25%, 17%, 0.75) !important;

    --bs-btn-active-shadow: inset 0 3px 5px rgba(255, 255, 255, 0.125) !important;

    --box-shadow-sm: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.075) !important;

    --bs-modal-bg: var(--bs-white) !important;
    --bs-modal-border-color: var(--bs-border-color) !important;
    --bs-modal-header-border-color: var(--bs-border-color) !important;
    --bs-modal-footer-border-color: var(--bs-border-color) !important;
    --bs-modal-box-shadow: var(--box-shadow-sm) !important;
  }

  .text-bg-primary {
    color: var(--bs-dark) !important;
  }

  .btn-secondary {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-secondary-fill);
    --bs-btn-hover-border-color: #72706a;
    --bs-btn-focus-shadow-rgb: 159, 157, 150;
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-secondary-fill);
    --bs-btn-active-border-color: #6b6963;
    --bs-btn-disabled-color: var(--bs-black);
    --bs-btn-disabled-bg: var(--bs-secondary-disabled);
    --bs-btn-disabled-border-color: var(--bs-secondary);
  }

  .btn-outline-secondary {
    --bs-btn-color: var(--bs-secondary);
    --bs-btn-border-color: var(--bs-secondary);
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-secondary-fill);
    --bs-btn-hover-border-color: var(--bs-secondary);
    --bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-secondary-fill);
    --bs-btn-active-border-color: var(--bs-secondary);
    --bs-btn-disabled-color: var(--bs-secondary-disabled);
    --bs-btn-disabled-border-color: var(--bs-secondary-disabled);
  }

  .btn-success {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bs-success);
    --bs-btn-border-color: var(--bs-success);
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-success-fill);
    --bs-btn-hover-border-color: #769e3c;
    --bs-btn-focus-shadow-rgb: 163, 206, 102;
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-success-fill);
    --bs-btn-active-border-color: #6e9438;
    --bs-btn-disabled-color: var(--bs-black);
    --bs-btn-disabled-bg: var(--bs-success-disabled);
    --bs-btn-disabled-border-color: var(--bs-success);
  }

  .btn-outline-success {
    --bs-btn-color: var(--bs-success);
    --bs-btn-border-color: var(--bs-success);
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-success);
    --bs-btn-hover-border-color: var(--bs-success);
    --bs-btn-focus-shadow-rgb: var(--bs-success-rgb);
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-success);
    --bs-btn-active-border-color: var(--bs-success);
    --bs-btn-disabled-color: var(--bs-success-disabled);
    --bs-btn-disabled-border-color: var(--bs-success-disabled);
  }

  .btn-warning {
    --bs-btn-color: var(--bs-black);
  }

  .btn-info {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bs-info);
    --bs-btn-border-color: var(--bs-info);
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-info-fill);
    --bs-btn-hover-border-color: #2189b3;
    --bs-btn-focus-shadow-rgb: 73, 184, 229;
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-info-fill);
    --bs-btn-active-border-color: #1f80a8;
    --bs-btn-disabled-color: var(--bs-black);
    --bs-btn-disabled-bg: var(--bs-info-disabled);
    --bs-btn-disabled-border-color: var(--bs-info);
  }

  .btn-outline-info {
    --bs-btn-color: var(--bs-info);
    --bs-btn-border-color: var(--bs-info);
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-info-fill);
    --bs-btn-hover-border-color: var(--bs-info);
    --bs-btn-focus-shadow-rgb: var(--bs-info-rgb);
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-info-fill);
    --bs-btn-active-border-color: var(--bs-info);
    --bs-btn-disabled-color: var(--bs-info-disabled);
    --bs-btn-disabled-border-color: var(--bs-info-disabled);
  }

  .btn-light {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bs-light);
    --bs-btn-border-color: var(--bs-light);
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-light-fill);
    --bs-btn-hover-border-color: #51524e;
    --bs-btn-focus-shadow-rgb: 91, 92, 88;
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-light-fill);
    --bs-btn-active-border-color: #51524e;
    --bs-btn-disabled-color: var(--bs-black);
    --bs-btn-disabled-bg: var(--bs-light-disabled);
    --bs-btn-disabled-border-color: var(--bs-light);
  }

  .btn-outline-light {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-border-color: var(--bs-light);
    --bs-btn-hover-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-light);
    --bs-btn-hover-border-color: var(--bs-light);
    --bs-btn-focus-shadow-rgb: var(--bs-light-rgb);
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-light);
    --bs-btn-active-border-color: var(--bs-light);
    --bs-btn-disabled-color: var(--bs-light-disabled);
    --bs-btn-disabled-border-color: var(--bs-light-disabled);
  }

  .btn-dark {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-dark);
    --bs-btn-border-color: var(--bs-dark);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-dark-fill);
    --bs-btn-hover-border-color: #c6c4c0;
    --bs-btn-focus-shadow-rgb: 211, 208, 204;
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-dark-fill);
    --bs-btn-active-border-color: #bab8b4;
    --bs-btn-disabled-color: var(--bs-white);
    --bs-btn-disabled-bg: var(--bs-dark-disabled);
    --bs-btn-disabled-border-color: var(--bs-dark);
  }

  .btn-outline-dark {
    --bs-btn-color: var(--bs-dark);
    --bs-btn-border-color: var(--bs-dark);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: var(--bs-dark);
    --bs-btn-hover-border-color: var(--bs-dark);
    --bs-btn-focus-shadow-rgb: var(--bs-dark-rgb);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-dark);
    --bs-btn-active-border-color: var(--bs-dark);
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: var(--bs-dark-disabled);
    --bs-btn-disabled-border-color: var(--bs-dark-disabled);
  }

  .dropdown-menu {
    --bs-dropdown-color: var(--bs-dark);
    --bs-dropdown-bg: var(--bs-white);
    --bs-dropdown-border-color: var(--bs-border-color-translucent);
    --bs-dropdown-divider-bg: var(--bs-border-color-translucent);
    --bs-dropdown-link-color: var(--bs-secondary);
    --bs-dropdown-link-hover-color: var(--bs-secondary);
    --bs-dropdown-link-hover-bg: var(--bs-light);
    --bs-dropdown-link-active-color: var(--bs-secondary);
    --bs-dropdown-link-active-bg: var(--bs-light);
    --bs-dropdown-link-disabled-color: var(--bs-gray-500);
    --bs-dropdown-header-color: var(--bs-secondary);
  }

  :is(.form-control, .form-select):focus {
    border-color: hsl(211, 27%, 32%);
  }

  .shadow-sm {
    box-shadow: var(--box-shadow-sm) !important;
  }

  .bg-gradient {
    --bs-gradient: linear-gradient(
      180deg,
      rgba(50, 50, 50, 0.25),
      var(--accent-color-dark-bg-tint)
    ) !important;
  }
}
